TS3_HOST=
TS3_PORT=
TS3_QUERYPORT=
TS3_USERNAME=
TS3_PASSWORD=
TS3_NICKNAME=

EXCLUDED_SERVER_GROUP_IDS=   #comma separated list of ServerGroup IDs that not be deleted

VATSIM_DATAFEED_URL="https://data.vatsim.net/v3/vatsim-data.json"
MAPPING_URL="https://raw.githubusercontent.com/vatger/teamspeak-station-bot/main/data/atc_station_mappings.json"
MAPPING_DOWNLOAD_INTERVAL=

#If Clients online / Max Clients exceeds Value idle timeout is decreased to 30m
MAX_SERVER_LOAD=0.8
REGISTERED_SERVER_GROUP=10

DEBUG=false
