# name: data-sorter
# run-name: Push by ${{ github.actor }} is sorting station mappings.json
# on:
#   push:
#     branches:
#       - 'main'
# permissions: write-all
# jobs:
#   build-maps:
#     runs-on: ubuntu-latest
#     steps:
#       - name: checkout repo content
#         uses: actions/checkout@v2 # checkout the repository content

#       - name: setup python
#         uses: actions/setup-python@v4
#         with:
#           python-version: '3.11' # install the python version needed

#       - name: execute py script # run main.py
#         working-directory: .
#         run: python .github/workflows/sortData.py

#       - name: commit files
#         run: |
#           git config --local user.email "action@github.com"
#           git config --local user.name "GitHub Action"
#           git add -A
#           git diff-index --quiet HEAD || (git commit -a -m "Sorted station mapping" --allow-empty)

#       - name: push changes
#         uses: ad-m/github-push-action@v0.6.0
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           branch: ${{ github.ref }} 